# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
argon2-cffi
attrs
backcall
bleach
brotlipy
ca-certificates
certifi
cffi
chardet
colorama
cryptography
decorator
defusedxml
entrypoints
idna
importlib-metadata
importlib_metadata
ipykernel
ipython
ipython_genutils
jedi
jinja2
jsonschema
jupyter_client
jupyter_core
libsodium
markupsafe
mistune
nbconvert
nbformat
notebook
openssl
packaging
pandoc
pandocfilters
parso
pickleshare
pip
prometheus_client
prompt-toolkit
pycparser
pygments
pyopenssl
pyparsing
pyrsistent
pysocks
python
python-dateutil
pyzmq
requests
send2trash
setuptools
six
sqlite
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
wheel
zeromq
zipp
zlib
